<h1 style="text-align: center;">You are being attacked. Please attempt to resist</h1>
<body style="text-align: center;">
<img width="300" height="300" src="https://assets-global.website-files.com/5ec26716840913c794a0240f/5fc69900002f277fda04daf8_Shrek%20is%20one%20of%20the%20most%20famous%20ogres.jpg" alt="ogre">
<div>Your opponent has <%=enemyHp%> health and <%=enemyAtk%> attack </div>
<br>
<form action="/game/<%=id%>/attack" method="post"><button>Attack!</button></form>
</body>
